div{
  background-color: #455347;
  height: 80%;
  width: 55%;
  padding-bottom: 2%;
  border-radius: 30px;
  margin-left: 1%;
  margin-bottom: 3%;
}

h2{
  margin: 0%;
  padding: 3.5%;
  padding-bottom: 0%;
  color: rgb(237, 205, 164);
  font-size: 35pt;
  font-weight: lighter;
  font-family: 'Clash Display', sans-serif;
}

p{
  margin: 0% 2%  0% 2%;
  padding: 0% 2%  0% 2%;
  color: rgb(237, 205, 164);
  font-size: 22pt;
  font-weight: lighter;
  font-family: 'Clash Display', sans-serif;
  text-wrap: pretty;
}
