<footer>
  <h1>
    ACEM
  </h1>

  <div class="outer-div">


<div class="inner-div">
      <h5 >Our Service</h5>
      <p>About Us</p>    
      <p>Pricing</p>    
      <p>Help Center</p>    
      <p>Login</p>    
    </div>
  <div class="inner-div">
      <h5>Company</h5>
      <p>Terms and Conditions</p>   
      <p>Contact us</p>      
  </div>

  <div class="inner-div">
          <h5>Follow Us</h5>
          <p>Facebook</p>   
          <p>Instagram</p>   
          <p>LinkedIn</p>   
          <p>GitHub</p>   
  </div>
        
  </div>
  
</footer>